.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--gap-2);
    height: 56px;
    border-top: 1px solid var(--border);
    background: var(--bg);
}

.footer a {
    color: var(--accent);
}
